/* TODO: Example 01 (Activity 2) CSS goes here */
html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

header{
    font-size: 2rem;
    color: #fff;
    padding: 0 1rem;
    height: 100px;
    line-height: 100px;
    background-color: #ae3bf1;
}

footer {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #ae3bf1;
    position: absolute;
    bottom:0;
    width: 100%;

}

#main-container {
    display: table;
    height: calc(100vh -160px);
    width: 100vw;

}
body {
    margin: 0;
}

#aside-col {
    display: none;
}

#main-col {
    display: table-cell;
    background-color: #f1f1f1;
}

#main-container .box {
    height: 100px;
    line-height: 100px;
    background-color: aquamarine;
    text-align: center;
    color: #fff;
    margin: 1rem 1rem 0 1rem;
}


/*Tablet size*/
@media all and (min-width: 600px) {
    #main-col .box {
        float: left;
        margin: 1rem 0 0 1rem;
        width: calc((100% - 3rem)/2);
    }
    
}
/*Desktop size*/
@media all and (min-width: 800px) {
    #main-col {
        width: 70%;
    }
    #main-container .box {
        float: left;
        margin: 1rem 0 0 1rem;
        width: calc((100% - 5rem)/3);
    }
    #aside-col {
        display: table-cell;
        background-color: #f1f1f1;
    }
    #aside-col .box {
        width: calc((100% - 3rem)/2);
        vertical-align: top;
    }

    .clearfix::after{
        content: "";
        clear: both;
        display: table;
    }

    #main-container [selected] {
        color:blueviolet;
        background-color: aqua;
    }
    #main-container [featured] {
        border: 5px solid #086c82;
        color:blueviolet;
        background-color: black;
    }

    /*styling links*/
    ul.links {
        list-style: none;
        padding: 1rem;
    }
    ul.links li {
        color: black;
        padding: .5rem;
        background-color: aliceblue;
        margin-bottom: .3rem;
        text-align: center;
    }
    ul.links > li > a {
        color: black;
        text-decoration: none;
    }

    ul.links > li > a:link {
        color: blue;
    }
    ul.links > li > a:visited {
        color: blueviolet;
    }
    ul.links > li > a:active {
        border-bottom: 3px solid #086c82;
    }
    ul.links > li > a:hover {
        background-color: whitesmoke;
    }

    
}
